// Colores
$texto     : rgb(118,118,118); // #767676
$gris      : rgb(220,220,220); // #E1E4E3
$gris-claro: rgb(240,240,240); // #F0F0F0
$azul      : rgb(045,050,065); // #2D3241
$dorado    : rgb(193,143,089); // #C18F59

// Responsive
$mobile :   480px;
$tablet :   768px;
$laptop :   980px;
$desktop:  1200px;

// Fonts

@font-face {
    font-family: Mermaid;
    src: url(../fonts/mermaid.ttf);
}

// Scrollbar

::-webkit-scrollbar { width: 0 }

// Text Selection

::-moz-selection { color: white; background-color: $dorado }
::selection      { color: white; background-color: $dorado }

/* Placeholder */

::placeholder           { color: $gris; font-weight: normal; letter-spacing: 1px; text-transform: uppercase; transition: .5s }
:-ms-input-placeholder  { color: $gris; font-weight: normal; letter-spacing: 1px; text-transform: uppercase; transition: .5s }
::-ms-input-placeholder { color: $gris; font-weight: normal; letter-spacing: 1px; text-transform: uppercase; transition: .5s }

:focus::placeholder           { color: transparent }
:focus:-ms-input-placeholder  { color: transparent }
:focus::-ms-input-placeholder { color: transparent }

// ─────────────── //
//     GENERAL     //
// ─────────────── //

* {
    box-sizing: border-box;
}

body {
    color: $texto;
    font: normal 15px 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; // Preloader
}

section {
    padding: 100px 0;
    position: relative;
}

p, li {
    font-size: 18px;
    line-height: 45px;
    margin: 0;

    strong {
        font-weight: normal;
    }
}

h3 {
    color: $dorado;
    font-size: 35px;
    font-weight: 900;
    font-family: 'Playfair Display', sans-serif;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(rgba(193,143,89,.5), $dorado);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 50;

    & + hr {
        width: 50px;
        height: 10px;
        margin-bottom: 50px;
        background-color: rgba(193,143,089,.35);
        border: none;
        position: relative;
        z-index: 50;
    }
}

// Mobile First

@media only screen and (min-width: $mobile) {
    
    section {
        padding: 150px 0;
    }

    h3 {
        font-size: 50px;
    }
}

@media only screen and (min-width: $tablet) {
    h3 {
        font-size: 75px;
    }
}

// ───────────── //
//     UTILS     //
// ───────────── //

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 25;
    width: 100%;

    &.ruido::after {
        content: "";
        display: block;
        background: rgba(45,50,65,.75) url(../img/ruido.png) repeat center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        opacity: .5;
    }
}

.z-index-50 {
    position: relative;
    z-index: 50;
}

// ────────────── //
//     NAVBAR     //
// ────────────── //

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: $azul;
    box-shadow: 0 0 10px rgb(15,20,35);
    position: fixed;
    bottom: -75px;
    z-index: 75;
    width: 100%;
    transition: .5s;

    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 8px;
        font-weight: 300;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 20px 0;
        position: relative;
        width: 100%;
        transition: .5s;
        cursor: pointer;

        .icono { display: block; font-size: 12px }
        .texto { display: none  }

        &:hover { color: $dorado }

        &::after {
            content: "";
            background: rgba(193,143,89,.15);
            position: absolute;
            top: 50%;
            right: 0;
            width: 1px;
            height: 10px;
            transform: translateY(-50%);
        }

        &:last-child::after { display: none }
    }
}

// Mobile First

@media only screen and (min-width: $mobile) {
    nav {
        justify-content: center;

        .item {
            padding: 20px 0;

            .icono { display: none  }
            .texto { display: block }

            &::after {
                height: 30px;
            }
        }
    }
}

@media only screen and (min-width: $tablet) {
    nav {
        background-color: rgba(45,50,65,.75);
        box-shadow: none;
        top: 0;
        bottom: auto;

        .item {
            font-size: 10px;
            padding: 40px;
            width: auto;
        }
    }
}

@media only screen and (min-width: $laptop) {
    nav .item {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 5px;
    }
}

// ────────────── //
//     HEADER     //
// ────────────── //

header {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 150px 25px 50px;
    position: relative;
    min-height: 350px;
    background: white url(../img/bg/header.jpg) no-repeat top center;
    background-size: cover;
    box-shadow: inset 0 0 150px black;

    // Heading

    .logo {
        // margin-top: 275px;
        margin: 0 auto 35px;
        width: 90px;
        height: auto;
    }

    .titulo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;

        h1 {
            color: rgba(255,255,255,.85);
            font-size: 50px;
            font-weight: 900;
            font-family: 'Mermaid', sans-serif;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 5px;
            line-height: 65px;
            margin: 20px 0;
        }

        .subtitulo {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            bottom: 20px;
            width: 100%;

            h2 {
                display: block;
                color: rgba(255,255,255,.5);
                font-size: 15px;
                font-weight: 300;
                font-family: 'Lato', sans-serif;
                text-transform: uppercase;
                white-space: nowrap;
                letter-spacing: 5px;
                line-height: 30px;
                margin: 0 10px;
            }

            hr {
                display: block;
                background: rgba(255,255,255,.25);
                border: none;
                margin: 0;
                height: 1px;
                width: 100%;

                &:first-child { left: 0 }
                &:last-child  { right: 0 }
            }
        }

        &::before {
            content: "";
            display: block;
            background: rgba(255,255,255,.25);
            height: 1px;
            width: 100%;
        }
    }

    // Contacto

    .contacto {
        color: rgba(255,255,255,.5);
        position: absolute;
        left: 25px;
        top: 30px;
        z-index: 50;

        .icono {
            font-size: 50px;
        }

        .telefono, .email {
            font-size: 12px;
            white-space: nowrap;
            position: absolute;
            left: 32px;
        }

        .telefono { top   : 8px }
        .email    { bottom: 8px }
    }

    // LinkedIn

    .linkedin {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none !important;
        border-radius: 50%;
        position: absolute;
        top: 25px;
        right: 25px;
        z-index: 50;
        height: 55px;
        width: 55px;
        transition: .5s;
        cursor: pointer;
    
        .icono {
            color: rgba(255,255,255,.5);
            font-size: 20px;
        }
    
        &::after,
        &::before {
            content: "";
            display: block;
            background: rgba(255,255,255,.1);
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            transition: .3s ease-in-out;
        }
    
        &::after  { transform: scale(0) }
        &::before { transform: scale(1) }
    
        &:hover {
    
            &::before {
                background: transparent;
                border-color: transparent;
                transform: scale(1.25);
            }
    
            &::after {
                transform: scale(1);
            }
        }
    }

    // Flecha

    .flecha {
        color: rgba(255,255,255,.25) !important;
        font-size: 50px;
        text-decoration: none;
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: 50;
        transform: translateX(-50%);
        transition: .5s;
    
        &:hover { color: rgba(193,143,89,.75) !important; }
    }

    .overlay { background: rgba(0,0,0,.5) }
}

// Mobile First

@media only screen and (min-width: $mobile) {

    header {
        padding: 300px 25px 90px;

        // Heading

        .titulo {

            h1 {
                font-size: 40px;
                white-space: nowrap;
                line-height: 100px;
                padding: 0 25px;
                margin: 0;
            }

            .subtitulo {

                h2 { margin: 0 25px }

                hr:first-child { background: linear-gradient(to left , rgba(255,255,255,.5), transparent) }
                hr:last-child  { background: linear-gradient(to right, rgba(255,255,255,.5), transparent) }
            }

            &::before { background: linear-gradient(to right, transparent, rgba(255,255,255,.5), transparent) }
        }

        // Flecha

        .flecha { font-size: 100px }
    }
}

@media only screen and (min-width: $tablet) {

    header {

        // Contacto

        .contacto {
            top: auto;
            bottom: 15px;

            .icono {
                font-size: 70px;
            }

            .telefono, .email {
                font-size: 15px;
                left: 45px;
            }

            .telefono { top   : 15px }
            .email    { bottom: 15px }
        }

        // LinkedIn

        .linkedin {
            top: 120px;
            bottom: auto;
            height: 65px;
            width: 65px;
        
            .icono {
                font-size: 25px;
            }
        }
    }
}

@media only screen and (min-width: $laptop) {
    
    header {
        padding: 300px 25px 125px;
        min-height: 100vh;

        .logo {
            margin: 0 auto 50px;
            width: 125px;
        }

        .titulo {
    
            h1 {
                font-size: 75px;
                line-height: 125px;
                padding: 0 100px;
            }
    
            .subtitulo h2 {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
}

// ────────────────── //
//     BIENVENIDA     //
// ────────────────── //

#bienvenida {
    padding-bottom: 0;

    .tarjetas {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 100px;
        position: relative;
        z-index: 50;
        
        .tarjeta {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            background-color: $gris-claro;
            border-top: 6px solid $gris;
            padding: 55px 30px;
            margin: 0 auto 150px;
            position: relative;
            width: 275px;
            transition: .5s;
    
            .icono {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                color: white;
                font-size: 35px;
                background-color: $dorado;
                border-radius: 50%;
                text-shadow: 1.5px 1.5px 2.5px #735535;
                margin-bottom: 25px;
                width: 75px;
                height: 75px;
            }
    
            .titulo {
                font-size: 20px;
                font-weight: 700;
                font-family: 'Lato', sans-serif;
                text-transform: uppercase;
                border-bottom: 1px solid $gris;
                letter-spacing: 1px;
                padding: 0 10px 15px;
                margin-bottom: 30px;
            }
    
            .texto {
                font-size: 15px;
                font-weight: normal;
                line-height: 25px;
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                bottom: -50px;
                width: 0;
                height: 0;
                border-top: 50px solid $gris-claro;
                border-left: 137.5px solid transparent;
                border-right: 137.5px solid transparent;
            }
        }
    }

    .overlay { background: rgba(255,255,255,.95) }
}

// Mobile First

@media only screen and (min-width: $mobile) {
    #bienvenida {
        background: white url(../img/bg/bienvenida.jpg) fixed no-repeat center;
        background-size: cover;
    }
}

// ─────────────── //
//     CALLOUT     //
// ─────────────── //

#callout {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white url(../img/bg/callout.jpg) fixed center no-repeat;
    background-size: cover;
    padding: 100px 15%;
    position: relative;

    .texto {
        color: white;
        font-size: 25px;
        font-weight: 900;
        font-family: 'Playfair Display', sans-serif;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 40px;
        margin: 0;
        position: relative;
        z-index: 50;

        span {
            color: $dorado;
        }
    }

    .overlay { background: rgba(45,50,65,.75) }
}

// Mobile First

@media only screen and (min-width: $tablet) {
    #callout {
        padding: 175px 15%;

        .texto {
            font-size: 45px;
            text-align: center;
            line-height: 65px;
        }
    }
}

// ─────────────────── //
//     EXPERIENCIA     //
// ─────────────────── //

#experiencia {
    padding-bottom: 125px;

    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(240,240,240);
        box-shadow: inset 0 0 0 10px rgba(255,255,255,.5);
        padding: 25px;
        margin-bottom: 25px;
        height: 300px;
        cursor: pointer;

        .empresa {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $texto;
            font-size: 10px;
            text-align: center;
            text-transform: uppercase;
            background: rgba(255,255,255,.75);
            background: linear-gradient(to left, rgba(255,255,255,.75), white, rgba(255,255,255,.75));
            letter-spacing: 2px;
            line-height: 22px;
            padding: 25px 15px;
            position: relative;
            z-index: 50;
            width: 100%;
            max-width: 375px;
            transition: .25s;
        }

        &:hover .empresa {
            color: $dorado;
        }

        .overlay { background: rgba(255,255,255,.25) }
    }

    .col-xs-12:nth-child(1) .item { background: white url(../img/experience/1.jpg) center no-repeat; background-size: cover }
    .col-xs-12:nth-child(2) .item { background: white url(../img/experience/2.jpg) center no-repeat; background-size: cover }
    .col-xs-12:nth-child(3) .item { background: white url(../img/experience/3.jpg) center no-repeat; background-size: cover }
    .col-xs-12:nth-child(4) .item { background: white url(../img/experience/4.jpg) center no-repeat; background-size: cover }
}

// Mobile First

@media only screen and (min-width: $mobile) {
    #experiencia .item .empresa {
        font-size: 12px;
        letter-spacing: 5px;
        line-height: 25px;
        padding: 25px;
    }
}

/* ───────────────── */
/*     FORMACIÓN     */
/* ───────────────── */

#formacion {
    background: white url(../img/bg/formacion.jpg) fixed no-repeat center;
    background-size: cover;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;

    // Selector de año

    .selector .barra {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(193,143,89,.75);
        margin: 75px auto 50px;
        position: relative;
        width: 100%;
        max-width: 950px;
        height: 1px;

        .circulo {
            content: "";
            display: inline-block;
            background: white;
            border: 1px solid $dorado;
            border-radius: 50%;
            position: absolute;
            top: -6px;
            width: 12px;
            height: 12px;
            opacity: 1;
            transition: .5s ease-out;
        }

        .year {
            display: block;
            color: $dorado;
            font-size: 10px;
            text-align: center;
            letter-spacing: 1px;
            position: relative;
            bottom: 25px;
            transform: rotateZ(-50deg);
            width: 100%;
            transition: color .5s;
            cursor: pointer;

            &:hover,
            &.active {
                color: rgb(193,143,89,.5);
            }
        }
    }

    // Tarjetas

    .carrusel {
        position: relative;
        overflow: hidden;

        .year-content {
            position: absolute;
            opacity: 0;

            .tarjeta {
                background: white;
                border: 1px solid $gris-claro;
                box-shadow: 0 0 5px $gris-claro;
                padding: 25px;
                position: relative;
                margin: 10px auto;
                width: 100%;
                max-width: 750px;

                .titulo {
                    color: $azul;
                    font-size: 25px;
                    font-weight: 900;
                    font-family: 'Playfair Display', sans-serif;
                    text-align: center;
                    text-transform: uppercase;
                    margin: 20px 0 10px;
                    position: relative;
                    
                    .comillas {
                        color: $azul;
                        font-size: 25px;
                        position: relative;
                        bottom: 5px;
                        opacity: .1;
                    }
                }

                .empresa {
                    color: rgba(45,50,65,.5);
                    font-size: 10px;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    line-height: 20px;
                }
                
                .duracion {
                    color: $dorado;
                    font-size: 10px;
                    text-align: center;
                    text-transform: uppercase;
                    border-bottom: 1px solid rgb(193,143,89,.15);
                    letter-spacing: 2px;
                    padding-bottom: 15px;
                }
            }

            &:first-child {
                position: relative;
                opacity: 1;
            }
        }
    }

    .overlay {
        background: rgba(255,255,255,.95);
        background: linear-gradient(to right, rgba(255,255,255,.85), rgba(255,255,255,.95), rgba(255,255,255,0.85));
    }
}

// Mobile First

@media only screen and (min-width: $mobile) {
    
    #formacion {

        // Selector de año

        .selector .barra .year {
            font-size: 12px;
            width: 55px;
            transform: none;
        }

        // Tarjetas

        .carrusel .year-content .tarjeta {

            .titulo {
                font-size: 35px;
                margin: 20px 0;

                .comillas { bottom: 10px }
            }

            .empresa {
                font-size: 15px;
                line-height: 30px;
            }

            .duracion {
                font-size: 15px;
                padding-bottom: 25px;
            }
        }
    }
}

@media only screen and (min-width: $tablet) {
    
    #formacion {

        // Selector de año

        .selector .barra {
            background: linear-gradient(to right, transparent, rgba(193,143,89,.25) 5%, rgba(193,143,89,.75), rgba(193,143,89,.25) 95%, transparent);
        
            .year {
                font-size: 15px;
                width: 75px;
            }
        }
    }
}

@media only screen and (min-width: $laptop) {}

@media only screen and (min-width: $desktop) {}

// ───────────────── //
//     CURRÍCULO     //
// ───────────────── //

#curriculo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white url(../img/bg/curriculo.jpg) fixed center no-repeat;
    background-size: cover;
    padding: 100px 15%;
    position: relative;

    .texto {
        color: white;
        font-size: 25px;
        font-weight: 900;
        font-family: 'Playfair Display', sans-serif;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 40px;
        margin: 0;
        position: relative;
        z-index: 50;

        span {
            color: $dorado;
        }
    }

    .boton {
        color: white;
        font-size: 12px;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
        background: $dorado;
        border: 1.5px solid $dorado;
        border-radius: 2.5px;
        outline: none;
        letter-spacing: 3px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        margin: 50px 0 0;
        padding: 25px 0;
        position: relative;
        z-index: 50;
        width: 100%;
        max-width: 300px;
        transition: .5s;
        cursor: pointer;
    
        &:hover {
            background: $azul;
            border: 1.5px solid $azul;
        }
    }

    .overlay { background: rgba(45,50,65,.75) }
}

// Mobile First

@media only screen and (min-width: $tablet) {
    #curriculo {
        padding: 175px 15%;

        .texto {
            font-size: 45px;
            line-height: 65px;
        }

        .boton {
            font-size: 15px;
        }
    }
}

// ─────────────────── //
//     TESTIMONIOS     //
// ─────────────────── //

#testimonios {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/bg/testimonios.jpg) fixed center no-repeat;
    background-size: cover;
    padding: 100px 10px;

    // Testimonios

    .testimonios {
        border-top: 1px solid rgba(255,255,255,.5);
        border-left: 1px solid rgba(255,255,255,.5);
        border-right: 1px solid rgba(255,255,255,.5);
        padding: 2px;
        position: relative;
        max-width: 1100px;

        & > div {
            border-top: 1px solid rgba(255,255,255,.15);
            border-left: 1px solid rgba(255,255,255,.15);
            border-right: 1px solid rgba(255,255,255,.15);
        }

        .testimonio {
            display: none;
            box-sizing: content-box;
            color: rgba(255,255,255,.9);
            font-size: 15px;
            font-weight: normal;
            font-family: 'Lato', sans-serif;
            line-height: 35px;
            padding: 50px 35px;
            position: relative;
            opacity: 0;
            transition: 1s;
            
            .author {
                color: $dorado;
                font-size: 12px;
                font-weight: 300;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 4px;
                position: absolute;
                left: 50%;
                bottom: -23px;
                width: 100%;
                transform: translateX(-50%) rotateX(15deg);
            }

            .quotes {
                color: white;
                font-size: 75px;
                position: absolute;
                left: 5px;
                top: 23px;
                opacity: .15;

                &.fa-quote-right { display: none }
            }

            &:nth-child(1) {
                opacity: 1;
            }

            &.activo {
                display: block;
            }
        }

        .border {
            display: inline-block;
            background: rgba(255,255,255,.25);
            position: absolute;
            bottom: -1px;
            width: 50px;
            height: 1px;

            &.border-left  { background: linear-gradient(to right, rgba(255,255,255,.25) 75%, transparent); left : -1px }
            &.border-right { background: linear-gradient(to left , rgba(255,255,255,.25) 75%, transparent); right: -1px }
        }

        &::after,
        &::before {
            content: "";
            background: rgba(255,255,255,.15);
            position: absolute;
            bottom: 2px;
            width: 46px;
            height: 1px;
        }

        &::after  { background: linear-gradient(to left , rgba(255,255,255,.15) 75%, transparent); right : 3px }
        &::before { background: linear-gradient(to right, rgba(255,255,255,.15) 75%, transparent); left  : 3px }
    }

    // Navegación

    .navigation {
        font-size: 50px;
        position: absolute;
        bottom: 25px;
        width: 50px;
        height: auto;
        cursor: pointer;
    
        &.navigation-left  { left : 25% }
        &.navigation-right { right: 25% }
        
        .flecha {
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(255,255,255,.15);
            width: 50px;
            height: 100%;
            transition: color .5s;
        }
    }

    // Overlay

    .overlay {
        background: rgba(45,50,65,.75);
    
        &::after {
            content: "";
            background: rgba(45,50,65,.75) url(../img/ruido.png) repeat center;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            opacity: .5;
        }
    }
}

// Mobile First

@media only screen and (min-width: $mobile) {
    #testimonios {
        padding: 100px 50px;

        // Testimonios

        .testimonios {

            .testimonio {
                font-size: 20px;
                text-align: center;
                line-height: 40px;
                padding: 50px;

                .author {
                    font-size: 15px;
                    letter-spacing: 5px;
                    bottom: -21px;
                }

                .quotes {
                    font-size: 25px;
                    position: relative;
                    top: auto;
                    left: auto;
                    bottom: 10px;

                    &.fa-quote-right { display: initial  }
                }
            }

            .border, &::after, &::before { width: 22% }
        }

        // Navegación

        &:hover .navigation .flecha {
            color: rgba(255,255,255,.15);
            transition: .5s;

            &:hover {
                color: white;
            }
        }

        .navigation {
            top: 50%;
            bottom: auto;
            height: 100%;
            transform: translateY(-50%);

            &.navigation-left  { left : 0 }
            &.navigation-right { right: 0 }

            .flecha {
                color: transparent;
            }
        }
    }
}

@media only screen and (min-width: $tablet) {
    #testimonios .testimonios {

        .testimonio {
            font-size: 30px;
            line-height: 50px;
            padding: 50px 75px;

            .author {
                font-size: 18px;
                letter-spacing: 10px;
            }
        }
        .border, &::after, &::before { width: 28% }
    }
}

@media only screen and (min-width: $laptop) {
    #testimonios .testimonios {
        .testimonio { padding: 50px 150px }
        .border, &::after, &::before { width: 30% }
    }
}

@media only screen and (min-width: $desktop) {
    #testimonios .testimonios {
        .border, &::after, &::before { width: 35% }
    }
}

// ──────────────── //
//     CONTACTO     //
// ──────────────── //

#contacto {
    position: relative;

    .formulario {

        .entrada {
            position: relative;
    
            input,
            textarea {
                display: block;
                color: $texto;
                font-size: 20px;
                font-weight: 300px;
                background: transparent;
                border: none;
                border-bottom: 1px solid $gris;
                outline: none;
                letter-spacing: 0;
                width: 100%;
                margin: 0 auto 25px;
                padding: 15px;
                padding-left: 45px;
                transition: .5s;
    
                &:focus {
                    border-bottom-color: $dorado;
    
                    & + .icono {
                        color: $dorado;
                    }
                }
            }
    
            textarea {
                margin-bottom: 0;
                resize: none;
                height: 200px;
    
                & + .icono {
                    top: 28px;
                }
            }
    
            .icono {
                color: $gris;
                position: absolute;
                left: 15px;
                top: 50%;
                transform: translateY(-50%);
                transition: .5s;
            }
        }
    
        .boton {
            color: white;
            font-size: 20px;
            font-weight: 400;
            text-decoration: none;
            text-transform: uppercase;
            background-color: $azul;
            border-radius: 2.5px;
            border: 1.5px solid $azul;
            outline: none;
            letter-spacing: 3px;
            text-align: center;
            text-transform: uppercase;
            margin: 50px 0 0;
            padding: 25px 70px;
            width: 100%;
            transition: .5s;
        
            &:hover {
                color: $dorado;
                text-decoration: none;
                background: white;
                border-color: $dorado;
                cursor: pointer;
            }
        }
    }

    .overlay { background-color: rgba(255,255,255,.95) }
}

// Mobile First

@media only screen and (min-width: $tablet) {
    #contacto {
        background: white url(../img/bg/contacto.jpg) fixed no-repeat center;
        background-size: cover;
    }
}

// ────────────── //
//     FOOTER     //
// ────────────── //

footer {
    margin-bottom: 50px;
    border-top: 1px dotted $dorado;

    .legal {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 15px 0;
    
        a {
            display: inline-block;
            color: $dorado;
            font-size: 10px;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 3px;
            line-height: 30px;
            margin: 0 15px;
            white-space: nowrap;
            width: 250px;
            transition: .5s;
        
            &:hover { color: rgb(193,143,89,.5) }
        }
    }

    .copyright {
        color: white;
        font-size: 10px;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        background: $azul;
        letter-spacing: 3px;
        padding: 25px 0;
        position: relative;
    
        span { color: $dorado }
    
        .overlay {
            background: url(../img/ruido.png) repeat center;
            opacity: .25;
        }
    }
}

// Mobile First

@media only screen and (min-width: $mobile) {
    footer{
        margin-bottom: 60px;
    }
}

@media only screen and (min-width: $tablet) {
    footer {
        margin: 0;
    }
}

/* ───────────── */
/*     LEGAL     */
/* ───────────── */

#legal h3 {
    margin: 50px 0 25px;
}

#legal h3:first-child {
    margin: 0 0 25px;
}

#legal p {
    margin: 0 0 25px;
}

#legal p:last-child {
    margin: 0;
}

#legal ul {
    list-style: none;
    margin: 0 0 25px;
}

#legal ul li::before {
    content: "";
    display: inline-block;
    background: $dorado;
    margin-right: -8px;
    position: relative;
    right: 17px;
    bottom: 2px;
    width: 5px;
    height: 5px;
    opacity: .5;
}

#legal ul li u {
    color: $dorado;
    text-decoration: none;
}

#legal a {
    color: $dorado;
    text-decoration: none;
    transition: .5s;
}

#legal a:hover {
    opacity: .75;
}

// ────────────────── //
//     TOP BUTTON     //
// ────────────────── //

.top-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    font-size: 25px;
    text-decoration: none !important;
    background: $dorado;
    border: 2px solid $dorado;
    border-radius: 2px;
    position: fixed;
    bottom: 75px;
    right: -75px;
    z-index: 75;
    width: 50px;
    height: 50px;
    transition: .5s;

    &:visited {
        color: white !important;
        background: $dorado;
    }

    &:hover {
        background: $azul;
        border-color: $azul;
    }
    
    &:active {
        color: white !important;
        background: $dorado;
    }
}

// Mobile First

@media only screen and (min-width: $mobile) {
    .top-button {
        bottom: 75px;
    }
}

@media only screen and (min-width: $tablet) {
    .top-button {
        bottom: 25px;
    }
}

// ───────────────── //
//     PRELOADER     //
// ───────────────── //

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: white;

    .spinner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 150px;
        height: 150px;
        -webkit-animation: pulso 1.25s infinite ease-in-out;
                animation: pulso 1.25s infinite ease-in-out;
    }
}

@-webkit-keyframes pulso {
    0% {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
                transform: scale(1.05);
    }
    100% {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes pulso {
    0% {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
                transform: scale(1.05);
    }
    100% {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
    }
}